body, screen {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: block;
  box-sizing: border-box;
}

screen {
  display: grid;
  grid-template-rows: 50px 1fr 250px;
}

data {
  display: none;
}


/* canvas */
.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* padding: 10px; */
}

canvas {
  width: 80%;
  aspect-ratio: 19/9;
  box-sizing: border-box;
  border: 3px black solid;
}


ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 200px;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
}

li {
  display: grid;
  grid-template-rows: 1fr 30%;
  width: 120px;
  height: 50%;
  padding: 0;
  margin: 0;
  background-color: red;
  border-radius: 3px;
  /* resize: horizontal;
  overflow: auto; */
  text-align: center;
  margin-left: 2px;
  
}
li input {
  width: 95%;
  height: 80%;
  padding: 0;
  margin: 0;
}


.dragging {
  opacity: 0.5;
}

.drag-over {
  background-color: aqua;
}
.drag-over::before {
  background-color: greenyellow;
  display: block;
  height: 100%;
}


.timeline {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: auto;
}

