body, screen {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: block;
  box-sizing: border-box;
}

screen {
  display: grid;
  grid-template-rows: 50px 1fr 250px;
}

data {
  display: none;
}

.header > div {
  display: inline;
}

/* canvas */
.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* padding: 10px; */
}

canvas {
  width: 80%;
  aspect-ratio: 21/9;
  box-sizing: border-box;
  border: 3px black solid;
}


ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 200px;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
}

li:not(.dummy) {
  display: grid;
  grid-template-rows: 1fr 40%;
  width: 120px;
  min-width: 120px;
  height: 50%;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  border-radius: 3px ;
  border:1px black solid;
  /* resize: horizontal;
  overflow: auto; */
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
.dummy {
  height: 50%;
  width: 80px;
  min-width: 80px;
}

.select {
  border: 4px yellow double !important;
}

li > div {
  width: 100%;
  height: 100%;
  font-size: 4px;
  text-align: center;
  letter-spacing: 1px;
}
li input {
  width: 95%;
  /* height: 80%; */
  padding: 0;
  margin: 0;
  text-align: center;
}


li span {
  text-align: center;
}





.dragging {
  opacity: 0.3;
}

.drag-over {
  /* background-color: aqua !important; */
}
.drag-over::before {
  content: '';
  display: block;
  background-color: red;
  display: block;
  height: 90px;
  width: 2px;
  position: absolute;
}






.timeline {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 110px;
  user-select: none;
}




.files_dialog {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: whitesmoke;
}