body, screen {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: block;
  box-sizing: border-box;

  font-size: 17px;
}

screen {
  display: grid;
  grid-template-rows: 50px 1fr 250px;
}

data {
  display: none;
}

/* header */
.header > div {
  display: inline;
  user-select: none;
}


/* canvas */
.canvas-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

canvas {
  width: 80%;
  aspect-ratio: 21/9;
  box-sizing: border-box;
  border: 2px black solid;
}




/* timeline */
ul {
  display: flex;
  list-style: none;
  width: 100%;
  height: 200px;
  overflow-x: scroll;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
}

li:not(.dummy) {
  display: grid;
  grid-template-rows: 1fr 40%;
  width: 120px;
  min-width: 120px;
  height: 50%;
  padding: 0;
  margin: 0;
  border-radius: 3px ;
  /* resize: horizontal;
  overflow: auto; */
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}
.dummy {
  height: 50%;
  width: 80px;
  min-width: 80px;
}

.select {
  /* border-change */
}

li > div {
  width: 100%;
  height: 100%;
  font-size: 4px;
  text-align: center;
  letter-spacing: 1px;
}
li input {
  width: 95%;
  /* height: 80%; */
  padding: 0;
  margin: 0;
  text-align: center;
}


li span {
  text-align: center;
}

.dragging {
  opacity: 0.3;
}

.drag-over {
  /* background-color: aqua !important; */
}
.drag-over::before {
  content: '';
  display: block;
  background-color: red;
  height: 90px;
  width: 2px;
  position: absolute;
}

.timeline {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 110px;
  user-select: none;
}

.timeline-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.timeline-header >button {
  width: 100%;
  font-size: 1rem;
}
.fps {
  text-align: center;
}




/* files-dialog */
.files_dialog {
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.files_dialog > div {
  display: grid;
  width: 80%;
  height: 50%;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.files_dialog button {
  font-size: 30px;
}